localhost:443 {
  tls internal

  handle /api/* {
    reverse_proxy host.docker.internal:8084
  }

  handle {
    root * /usr/share/caddy
    file_server
    header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
    header Pragma "no-cache"
    header Expires 0
  }
}